@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
h1, #diary{
  text-align: center;
}
#grid{
  display: grid;
  grid-template-columns: 160px 1fr;
}
ul{
  font-size:20px;
  padding: 0px;
  text-align: center;
}
h1{
  font-family: fantasy;
  padding-bottom: 50px;
  border-bottom: 10px solid green;
  margin-bottom: 0;
  font-size: 80px;
}
#diary
{
  border-left: 10px solid red;
  border-bottom: 10px solid green;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px;
}
#list
{
  border-bottom: 10px solid green;
  font-family: fantasy;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #diary
  {
    border-left: none;
  }
  #list
  {
    text-align: center;
    border-bottom: none;
  }
}
